<section class="entry-detail">
  @if (entry) { @if (entry.prompt) {
  <h2>La teva espurna</h2>
  <p>{{ entry.prompt.text }}</p>
  }

  <h2>{{ entry.title || 'Sense títol' }}</h2>
  <p>{{ entry.content }}</p>

  <article class="edit-tools">
    <a [routerLink]="['/write']" [queryParams]="{ entryId: entry.id }">Editar</a>
    <button (click)="deleteEntry(entry)">Eliminar</button>
  </article>
  } @else {
  <p>Aquesta entrada no existeix.</p>
  }
</section>

<div class="entry-navigation">
  <a class="back-btn" routerLink="/notebook">Torna al teu quadern</a>
  <a class="back-btn" routerLink="/">Ves a l'inici</a>
</div>
