<section class="notebook">
  <h2><span class="initial-typo">Q</span>uadern de notes</h2>

  <button class="start-writing" (click)="showWritingOptions = !showWritingOptions">
    Comença a escriure
  </button>

  @if (showWritingOptions) {
  <div class="writing-options">
    <a class="with-spark" [routerLink]="['/spark']">
      ✦ Amb espurna
    </a>

    <a class="with-spark" [routerLink]="['/write']">
      ✎ Sense espurna
    </a>
  </div>
  }

  @if (entries.length === 0) {
  <p class="empty-notebook">Encara no hi ha cap entrada.</p>
  }

  @for (entry of entries; track entry.id) {
  <article class="entry">
    <div class="entry-info">
      <h3 class="entry-title">{{ entry.title || 'Sense títol' }}</h3>
      <p class="entry-createdAt">{{ entry.createdAt | date:'d \'de\' MMMM \'de\' y, HH:mm' }}</p>
      @if (entry.lastUpdate){
      <p class="entry-lastupdate">Editat per últim cop: {{ entry.lastUpdate | date:'d \'de\' MMMM \'de\' y, HH:mm' }}
      </p>
      }
      <p class="entry-preview">{{ entry.content }}</p>
    </div>
    <div class="entry-actions">
      <a [routerLink]="['/notebook', entry.id]">Veure entrada</a>
      <a [routerLink]="['/write']" [queryParams]="{ entryId: entry.id }">Editar entrada</a>
      <button (click)="deleteEntry(entry)">Eliminar entrada</button>


    </div>
  </article>
  }
</section>
