<section class="spark">
  <h2>La teva espurna</h2>

  @if (prompt) {
  <div class="prompt-cat">
    @for( category of prompt.categories; track category) {
    <span>{{ categoryLabels[category] }}</span>
    }
  </div>
  <p>{{ prompt.text }}</p>
  }

  <div class="tag-filter">
    <button [class.active]="!selectedTag" (click)="clearTag()">Tots</button>

    @for (tag of availableTags; track tag) {
    <button [class.active]="selectedTag === tag" (click)="selectTag(tag)">{{ tagLabels[tag] }}</button>
    }
  </div>

  <div class="prompt-tags">
    @for (tag of prompt?.tags; track tag) {
    <span>{{ tagLabels[tag] }}</span>
    }
  </div>


  <div class="home-actions">
    <button class="spark-btn" (click)="getRandomPrompt()">Una altra espurna</button>
    <button class="write-btn" [routerLink]="['/write']" [queryParams]="{ promptId: prompt?.id }">Escriure</button>
  </div>
</section>
