<section class="write">

  @if (prompt) {
  <section class="prompt">
    <h2>La teva espurna</h2>
    <p>{{ prompt.text }}</p>
  </section>
  }

  <h2>Escriu</h2>

  @if (!entry || isEditing) {
  <input type="text" placeholder="Títol (opcional)" [(ngModel)]="title" />
  <br>
  <textarea placeholder="Escriu aquí" [(ngModel)]="content" (ngModelChange)="errorMessage = ''"></textarea>
  }
  @if (errorMessage) {
    <p class="error-message">{{ errorMessage }}</p>
  }

  @if (!entry) {
  <button class="save-btn" (click)="saveEntry()">Guardar</button>
  <a class="back-btn" [routerLink]="cancelRoute">Cancel·lar</a>
  } @else if (entry) {
  @if (isEditing){
  <button class="save-btn" (click)="updateEntry(entry)">Guardar els canvis</button>
  <a class="back-btn" [routerLink]="cancelRoute">Cancel·lar</a>
  }
  }

</section>
