<header>
  <a [routerLink]="['/']">Sotabosc</a>
</header>

<nav>
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-text">
    Inici
  </a>

  <a routerLink="/notebook" routerLinkActive="active" class="nav-text">
    Quadern
  </a>
</nav>

@if (auth.isLoggedIn()) {
<article class="auth-btn">
  <button class="logout-btn" (click)="auth.logout()">Tanca la sessió</button>
</article>
} @else if (!isAuthPage()) {
<article class="auth-btn">
  <a class="login-btn" routerLink="/auth/login">Inicia sessió</a>
</article>
}

<main>
  <router-outlet />
</main>
